/* BlogPost.css */
.blogpost h2 {
    font-size: 1.5rem;
    font-weight: 800;
    color: #1f2937; /* Example zinc color */
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  .blogpost h3 {
    font-size: 1.2rem;
    font-weight: 800;
    color: #1f2937; /* Example zinc color */
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  .blogpost p {
    color: #4b5563; /* Example zinc color */
    line-height: 1.75;
    margin-bottom: 1rem;
    font-size: 0.9rem;
  }
  
  .blogpost a {
    color: #0070f3;
    text-decoration: none;
    transition: color 0.2s;
  }
  
  .blogpost a:hover {
    color: #005bb5;
  }
  
  .blogpost ul {
    list-style-type: disc;
    padding-left: 1.5rem;
  }
  
  .blogpost ol {
    list-style-type: decimal;
    padding-left: 1.5rem;
  }
  
  .blogpost strong {
    font-weight: bold;
    color: #1f2937; /* Example zinc color */
  }
  
  .blogpost blockquote {
    border-left: 4px solid #e5e7eb;
    padding-left: 1rem;
    font-style: italic;
    color: #6b7280; /* Example zinc color */
    margin-bottom: 1rem;
  }
  
  .blogpost img {
    border-radius: 0.75rem;
    margin-bottom: 1rem;
  }
  
  .blogpost > * {
    margin-bottom: 1.5rem;
  }
  
  /* Dark Mode */
html.dark .blogpost h2 {
    color: #d1d5db; /* Example zinc color for dark mode */
  }
  html.dark .blogpost h3 {
    color: #d1d5db; /* Example zinc color for dark mode */
  }
  html.dark .blogpost p {
    color: #d4d4d4; /* Example zinc color for dark mode */
  }
  html.dark .blogpost strong {
    color: #d4d4d4; /* Example zinc color for dark mode */
  }
  html.dark .blogpost a {
    color: #199f73; /* Example zinc color for dark mode */
  }
  html.dark .blogpost blockquote {
    border-left-color: #374151;
    color: #9ca3af;
  }
  